{# _myapp/templates/partials/footer.html_ #}

<footer>
  <p>
    Unofficial and customized non-standard responses defined by server softwares are not included in the list above.
  </p>
  <p>
    Status-code information gathered from 
    <a 
      href="https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml"
      title="Hypertext Transfer Protocol (HTTP) Status Code Registry"
      target="_blank"
    >Hypertext Transfer Protocol (HTTP) Status Code Registry</a> &
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status"
      title="HTTP response status codes - HTTP | MDN"
      target="_blank"
    >MDN</a>.
    <br />
    Images are from 
    <a
      href="https://museumofinter.net"
      title="Museum of Internet"
      target="_blank"
    >Museum of Internet</a>.
  </p>
  <p>
    Final Project for
    <a
      href="https://www.edx.org/course/cs50s-introduction-to-computer-science"
      title="CS50: Introduction to Computer Science on edX"
      target="_blank">
      CS50: Introduction to Computer Science</a>, 2020
  </p>
  <ul>
    <li>
      [t]
      <a
        href="https://twitter.com/hexangel616"
        title="Twitter Profile"
        target="_blank"
        >@hexangel616</a>
    </li>
    <li>
      [w]
      <a
        href="https://emiliegervais.com"
        title="Personal Website"
        target="_blank"
        >https://emiliegervais.com</a>
    </li>
    <li> 
      [e]
      <a
        href="mailto:eee@emiliegervais.com?subject='from-status-code'"
        title="Email"
        target="_blank"
        >eee@emiliegervais.com</a>
    </li>
  </ul>
</footer>
