{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h1 class="display-4">Transaction History</h1>
<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td scope="row">{{ transaction.date }}</td>
            <td scope="row">{{ transaction.type }}</td>
            <td scope="row">{{ transaction.symbol }}</td>
            <td scope="row">{{ transaction.shares }}</td>
            <td scope="row">{{ transaction.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
